.ourcontainer {
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 50px;
    width: 1400px;
    text-align: center;
    margin-left: 115px;
    padding: 20px;
}
.ourcolumn {
    flex-basis : 40%;
    background: rgb(220, 220, 220);
    min-height: 70vh;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
  }

.ourcolumn h1 {
    text-align: center;
    font-size: 40px;
    color : #fff;
    font-weight: 700;
    text-shadow: 2px 2px 4px #888888;
}
.ourcolumn h2 {
    text-align: center;
    font-size: 27px;
    color : #000000;
    font-weight: 700;
    margin-top: 20px;
    
    
}

.ourcolumn h5 {
    position: absolute; /* 부모 요소에 대해 절대적인 위치를 설정합니다. */
    bottom: 0; /* 하단에 위치하도록 설정합니다. */
    right : 0;  
    margin-right : 10px;
    
}

.list-group-item {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    width : 360px;
    height : 150px;
    margin-bottom : 20px;
    border-left: 7px solid #5d5d5d; /* 선의 색상, 두께 및 스타일 설정 */
    text-align: left;
    overflow: hidden;
    
}