<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 : 해당하는 영역 안쪽에 SQL구문을 작성 -->
<mapper namespace="com.smhrd.database.DAO">
	<!-- DB 공모전 정보 불러오기 -->
	<select id="ClickContestInfo" resultType="com.smhrd.model.ContestVO">
	select conIdx, conName, conContent, conHost, conCategory, conHomepage, 
	conStartDate, conEndDate, conEndTime, conSpec, conRewardType, conReward
	from contestInfo
	</select>
</mapper>